<!--默认模板-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="快盈官网">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>快赢官网</title>
    <link href="/lib/layui/css/layui.css" rel="stylesheet">
    <link href="/lib/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/css/animate.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/lib/js/html5shiv.js"></script>
    <script src="/lib/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
    <script src="/lib/js/jquery.js"></script>
    <script src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/js/jquery.prettyPhoto.js"></script>
    <script src="/lib/js/jquery.isotope.min.js"></script>
    <script src="/lib/js/wow.min.js"></script>
    <script src="/lib/layui/layui.js"></script>
    <script src="/website/js/main.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
    <!--使用的js-->
    <!--<script src="/website/js/main.js"></script>-->
</head>

<body>
<%include ../common/header.html%>
<%-body %>
<%include ../common/footer.html%>
</body>
</html>


