<!--引入当前scss-->
<link href="/website/css/home/main.css" rel="stylesheet">

<div class="home">
    <!--轮播-->
    <div class="banner-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="banner">
                    <div class="content-core">
                        <!--<img src="/images/banner.png" width="100%" height="540"/>-->
                        <div class="text">
                            <div class="banner-title">打造全链路智慧型景区</div>
                            <div class="banner-subtitle">为您提供一体化的解决方案</div>
                            <div class="banner-btn mid-btn">联系我们</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="banner">
                    <div class="content-core">
                        <!--<img src="/images/banner.png" width="100%" height="540"/>-->
                        <div class="text">
                            <div class="banner-title">打造全链路智慧型景区</div>
                            <div class="banner-subtitle">为您提供一体化的解决方案</div>
                            <div class="banner-btn mid-btn">联系我们</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="banner">
                    <div class="content-core">
                        <!--<img src="/images/banner.png" width="100%" height="540"/>-->
                        <div class="text">
                            <div class="banner-title">打造全链路智慧型景区</div>
                            <div class="banner-subtitle">为您提供一体化的解决方案</div>
                            <div class="banner-btn mid-btn">联系我们</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--产品介绍-->
    <section class="product-introduction media contact-info wow fadeInDown" data-wow-duration="1000ms"
             data-wow-delay="100ms">
        <div class="section-tit">
            多款产品助您打造智慧景区
        </div>
        <div class="section-subtit">
            智能小程序+智能分销+聚合支付提供智慧化服务裂变式收入
        </div>
        <div class="section-main">
            <div class="mid-btn">联系我们</div>
            <div class="product-blocks">
                <div class="product-block">
                    <div class="p-img zhxcx-img">
                    </div>
                    <div class="p-name">
                        智慧小程序
                    </div>
                    <div class="p-advantage">
                        自助购票/景区导览/卡券营销等
                    </div>
                    <div class="learn-more">
                        了解更多
                    </div>
                </div>
                <div class="product-block cent-pb">
                    <div class="p-img znfx-img">
                    </div>
                    <div class="p-name">
                        智能分销
                    </div>
                    <div class="p-advantage">
                        实时分账/人人分销/口碑分销等
                    </div>
                    <div class="learn-more">
                        了解更多
                    </div>
                </div>
                <div class="product-block">
                    <div class="p-img jhzf-img">
                    </div>
                    <div class="p-name">
                        聚合支付
                    </div>
                    <div class="p-advantage">
                        聚合支付
                    </div>
                    <div class="learn-more">
                        了解更多
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--行业解决方案-->
    <section class="industry-solution media contact-info wow fadeInDown" data-wow-duration="1000ms"
             data-wow-delay="100ms"
    ">
    <div class="section-tit">
        为您提供多种行业解决方案
    </div>
    <div class="section-subtit">
        景区/酒店/乐园/停车场等提供多种解决方案
    </div>
    <div class="section-main">
        <div class="tags">
            <div class="tag tag-hover">
                <div>风景名胜</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
            <div class="tag">
                <div>主题乐园</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
            <div class="tag">
                <div>博物馆</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
            <div class="tag">
                <div>亲子游乐园</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
            <div class="tag">
                <div>停车场</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
            <div class="tag">
                <div>酒店</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
            <div class="tag">
                <div>民宿</div>
                <div class="divider"></div>
                <div class="indicator"></div>
            </div>
        </div>
        <div class="solutions">
            <div class="solution sol-show">
                <div class="left-img fjms"></div>
                <div class="right-text">
                    <div class="solution-name">风景名胜解决方案</div>
                    <div class="solutions-desc">打造智慧景区，帮助景区解决拥堵，实现二次营销，共享流量，助力景区<br>
                        管理商户游客和员工
                    </div>
                    <div class="solutions-adv fjms-icon"></div>
                </div>
            </div>
            <div class="solution">
                <div class="left-img ztly"></div>
                <div class="right-text">
                    <div class="solution-name">主题乐园解决方案</div>
                    <div class="solutions-desc">打造全链路一站式服务于主题乐园的游前推广、游中营销、游后存留闭环<br>
                    </div>
                    <div class="solutions-adv ztly-icon"></div>
                </div>
            </div>
            <div class="solution">
                <div class="left-img bwg"></div>
                <div class="right-text">
                    <div class="solution-name">博物馆解决方案</div>
                    <div class="solutions-desc">一部手机游全馆模式为博物馆植入智慧科技因子，解决传统博物馆内容枯<br>
                        燥、冰冷等问题
                    </div>
                    <div class="solutions-adv bwg-icon"></div>
                </div>
            </div>
            <div class="solution">
                <div class="left-img qzyly"></div>
                <div class="right-text">
                    <div class="solution-name">亲子游乐园解决方案</div>
                    <div class="solutions-desc">助力文旅及室内乐园打造智慧园区示范形象，帮助园区实现会员用户积累<br>
                        与管理，提高二次消费，实现额外增收
                    </div>
                    <div class="solutions-adv qzyly-icon"></div>
                </div>
            </div>
            <div class="solution">
                <div class="left-img tcc"></div>
                <div class="right-text">
                    <div class="solution-name">停车场解决方案</div>
                    <div class="solutions-desc">当面付、小程序支付、无感支付等多种支付应用场景，让你的停车管理一<br>
                        体化
                    </div>
                    <div class="solutions-adv tcc-icon"></div>
                </div>
            </div>
            <div class="solution">
                <div class="left-img minsu"></div>
                <div class="right-text">
                    <div class="solution-name">民宿解决方案</div>
                    <div class="solutions-desc">无缝对接大平台资源，与周边区域景点联动营销，满足个性化场景推广需<br>
                        求
                    </div>
                    <div class="solutions-adv minsu-icon"></div>
                </div>
            </div>
            <div class="solution">
                <div class="left-img jiudian"></div>
                <div class="right-text">
                    <div class="solution-name">酒店解决方案</div>
                    <div class="solutions-desc">线下线上平台连通，无感会员体系满足酒店免押金入住、自助开票等多元<br>
                        服务需求
                    </div>
                    <div class="solutions-adv jiudian-icon"></div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--营销模式-->
    <section class="marketing-mode media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms"
    ">
    <div class="section-tit">
        多种营销模式为您带来裂变式收入
    </div>
    <div class="section-subtit">
        游前/游中/游后等多种营销模式
    </div>
    <div class="section-main">
        <div class="marketing-mode-img"></div>
    </div>
    </section>
    <!--who use-->
    <section class="who-use">
        <div class="section-tit">
            他们都在用快盈的产品
        </div>
        <div class="section-main">
            <div class="user-line">
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img songchengyy"></div>
                        <div class="user-logo songchengyy-logo"></div>
                        <div class="use-desc">
                            我们是最早与快盈合作的景区之一，从杭州宋城景区的试点到整个宋城集团的深度合作，快盈为我们智慧化转型提供了有力的支持
                        </div>
                    </div>
                </div>
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img haichanghygy"></div>
                        <div class="user-logo haichanghygy-logo"></div>
                        <div class="use-desc">
                            信用免押租赁，先享后付等产品的上线对我们的售票窗口压力起到了缓解作用，因为快盈的信用系统，年初还有媒体过来采访过呢
                        </div>
                    </div>
                </div>
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img huanleg"></div>
                        <div class="user-logo huanleg-logo"></div>
                        <div class="use-desc">
                            我们园内的消费点位已经全面上线了快盈的系统，游客的支付流水通过APP就可以看得很清晰，我觉得用起来很方便
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-line">
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img huanghelou"></div>
                        <div class="user-logo huanghelou-logo"></div>
                        <div class="use-desc">
                            原来我们的移动支付设备一直是用银行的，一次偶然的机会了解到快盈的产品，在两家产品同时试用运营之后我们还是选择了快盈，你看现在所有的售票窗口用的都是快盈的支付系统
                        </div>
                    </div>
                </div>
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img taishang"></div>
                        <div class="user-logo taishang-logo"></div>
                        <div class="use-desc">
                            在快盈小程序上直接可以很方便的购买泰山的门票与封禅大典的门票，好多人原来到了门口都还不知道我们这也有演艺节目，这给我们带来了不少的额外增收呢
                        </div>
                    </div>
                </div>
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img xihu"></div>
                        <div class="user-logo xihu-logo"></div>
                        <div class="use-desc">
                            本身我们都在杭州，所以我们接触的也比较早，现在西湖周边大大小小的景区基本用的都是快盈的系统，也因此我们与蚂蚁金服还做了战略合作的签约
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-line">
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img zjbwg"></div>
                        <div class="user-logo zjbwg-logo"></div>
                        <div class="use-desc">
                            快盈的免押租赁产品解决了我们原来因为押金导致语音讲解器出租难的问题，你也知道不用讲解器游览博物馆是很枯燥的，现在好多了
                        </div>
                    </div>
                </div>
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img mumawg"></div>
                        <div class="user-logo mumawg-logo"></div>
                        <div class="use-desc">
                            我们有自己控股的技术公司，但是移动支付一直是集成快盈的系统，他们还帮我们对接了口碑的集成，各个门店收银台上的设备都可以省掉好几个
                        </div>
                    </div>
                </div>
                <div class="user-block">
                    <div class="mask">
                        <div class="user-img xuanwuhu"></div>
                        <div class="user-logo xuanwuhu-logo"></div>
                        <div class="use-desc">
                            之前一直是支付宝的服务商与我们联系，后来才知道原来用的系统是快盈做的技术开发，我们领导还特意去他们公司考察了一遍，都挺满意的
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="server-number">
            <div class="server-content">
                <div class="server-text">
                    为全球
                </div>
                <div class="num">862</div>
                <div class="server-text">
                    家景区提供优质服务
                </div>
            </div>
        </div>
    </section>
    <!--提供的服务-->
    <section class="server-delivery media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms"
    ">
    <div class="section-tit">
        360度全方位一站式服务
    </div>
    <div class="section-main">
        <div class="server-img"></div>
    </div>
    </section>
    <!--合作伙伴-->
    <section class="partner media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms"
    ">
    <div class="section-tit">部分合作伙伴</div>
    <div class="partner-img"></div>
    </section>
</div>

<!--浮动联系我们微信-->
<div class="contact-wrap">
    <div class="btn-content">
        <div class="tel-content">
            <div class="tel-btn"></div>
            <!--表单-->
            <div class="form-content">
                <div class="index-form">
                    <div class="wrap">
                        <div class="contact-us">
                            <div class="form-name">联系我们</div>
                            <div class="number">0571-28066662</div>
                        </div>
                        <hr>
                        <fieldset class="layui-elem-field">
                            <div class="form-desc">或填写您等联络方式<br>
                                我们主动联系您
                            </div>
                            <form class="layui-form">
                                <div class="layui-col-md12">
                                    <input type="text" id="applyName" name="applyName" required lay-verify="required"
                                           placeholder="请输入申请人姓名"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-col-md12">
                                    <input type="text" id="applyPhone" name="applyPhone" required lay-verify="required"
                                           placeholder="请输入申请人手机号"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-col-md12">
                                    <input type="text" id="companyName" name="companyName"
                                           placeholder="请输入公司名称"
                                           autocomplete="off" class="layui-input">
                                </div>
                                <br>
                                <div class="layui-form-item btn-float">
                                    <div class="submit-btn" id="submit">提交</div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="wx-content">
            <div class="wechat-btn">
            </div>
            <div class="img-content">
               <img src="/website/images/home/wx_code.png" class="wx-code" />
            </div>

        </div>
    </div>
</div>

