<!--引入当前css-->
<link href="/website/css/products/myjzl.css" rel="stylesheet">

<div>
  <!--头部banner-->
    <div class="banner-content">
        <div class="item">
            <div class="banner">
                <div class="content-core">
                    <div class="text">
                        <div class="banner-title">免押金租赁</div>
                        <div class="banner-subtitle">联合芝麻信用共同开发 安全有保障</div>
                        <div class="banner-btn mid-btn">了解更多</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="text-img-wrap media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
      <!--图标-->
      <div class="function-icons"></div>
      
      <!--景区物料布置-->
      <section class="scenic resorts-manage media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
          <div class="section-tit">景区物料布置</div>
          <div class="section-subtit">布置景区二维码，引导游客使用，无需操作员引导，即学即会</div>
          <div class="scenic-material-img"></div>
          <div class="procedure-img"></div>
      </section>
      
      <!--借出流程-->
      <section class="lending-process resorts-manage media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
          <div class="section-tit">借出流程</div>
          <div class="section-subtit">工作人员用POS打开快盈商户启动扫一扫，扫游客取物二维码，借出产品</div>
          <div class="lending-process-img"></div>
      </section>

      <!--归还流程-->
      <section class="return-process resorts-manage media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
          <div class="section-tit">归还流程</div>
          <div class="section-subtit">工作人员用POS打开快盈商户启动扫一扫，扫游客归还二维码，收回产品</div>
          <div class="return-process-img"></div>
      </section>

      <!--技术支持-->
      <section class="technical-support resorts-manage media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
          <div class="section-tit">技术支持组建</div>
          <div class="section-subtit">景区/酒店/乐园/停车场等提供多种解决方案</div>
          <div class="technical-support-img"></div>
      </section>
    </section>

    <!--服务客户-->
    <%include ../common/customers.html%>
</div>
