<header class="header">
    <!--导航条-->
    <div class="header-content">
        <nav class="navbar-content">
            <div class="container-fluid">
                <div class="navbar-log">
                    <div class="logo"></div>
                </div>
                <ul class="nav-items navbar-nav-item">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="">解决方案</a>
                        <div class="dropdown-menu-wrap">
                            <!--下拉菜单-->
                            <div class="dropdown-content">
                                <div class="content-core">
                                    <div class="products">
                                        <div class="nav-content-tit">
                                            产品
                                        </div>
                                        <div class="nav-content clearfix">
                                            <div class="nav-block">
                                                <a href="/zhxcx">
                                                    <img class="icon" src="/website/images/head/zhxcx.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            智慧小程序
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/zhdl.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            智慧导览
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/ysq.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            预授权支付
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/zzgp.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            自助购票
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/znkf.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            智能客服
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="/myjzl">
                                                    <img class="icon" src="/website/images/head/myj.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            免押金租赁
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="/znfx">
                                                    <img class="icon" src="/website/images/head/znfx.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            智能分销
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/pjjy.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            评价建议
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/xyhf.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            先游后付
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/wgtc.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            无感停车
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/jhzf.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            聚合支付
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <img class="icon" src="/website/images/head/vip.png"/>
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            VIP免排队
                                                        </div>
                                                        <div class=" nav-detail">
                                                            自主搭建 双系统接入
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-industry">
                                        <div class="nav-content-tit">
                                            服务行业
                                        </div>
                                        <div class="nav-content clearfix">
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            风景名胜
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            停车场
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            商超
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            主题乐园
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            酒店
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            旅行社
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            博物馆
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            民宿
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            分销代理
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            亲子游乐园
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="nav-block">
                                                <a href="#">
                                                    <div class="nav-text">
                                                        <div class="nav-name">
                                                            餐饮
                                                        </div>
                                                        <div class="nav-detail">
                                                            树立智慧化旅游标杆
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a href="/classicCase">经典案例</a></li>
                    <li><a href="">帮助支持</a></li>
                    <li><a href="">渠道合作</a></li>
                    <li><a href="/about">关于我们</a></li>
                    <li class="right-item"><a href="login" target="_blank" class="min-btn">登录 </a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>





