<div style="margin: 20px;">
    <fieldset class="layui-elem-field">
        <legend><%=model.title %></legend>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <input type="hidden" name="cid" id="cid" value="<%=model.contactinfo?model.contactinfo._id:'' %>" />
                <div class="layui-input-inline">
                    <input type="text" id="username" name="username" value="<%=model.contactinfo?model.contactinfo.username:'' %>" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入姓名</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" id="userphone" name="userphone" value="<%=model.contactinfo?model.contactinfo.userphone:'' %>" required lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入手机号</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="companyname" name="companyname" value="<%=model.contactinfo?model.contactinfo.companyname:'' %>" required lay-verify="required" placeholder="请输入公司名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请输入公司名称</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="button" id="btnSubmit">立即提交</button>
                </div>
            </div>
        </form>
    </fieldset>  
</div>
<script src="/website/js/mongo/index.controller.js"></script>