<!--引入当前css-->
<link href="/website/css/classicCase/index.css" rel="stylesheet">
<link href="/website/css/classicCase/certify.css" rel="stylesheet">
<!--经典案例-->
<div>
    <!--banner-->
    <div class="banner-content">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="banner">
                    <div class="content-core">
                        <div class="text">
                            <div class="banner-title">我们的经典案例</div>
                            <div class="banner-subtitle">为您提供一体化的解决方案</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--customers-->
    <div class="logo"></div>

    <!--case-->
    <section>
        <div class="section-tit">为泰山提供免押支付系统</div>
        <div class="section-subtit">游客无现金游泰山 泰山再次成为智慧化五岳标杆</div>
        <div id="certify">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="mask-content">
                            <img src="/website/images/classicCase/certify01.png"/>
                            <div class="mask"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mask-content">
                            <img src="/website/images/classicCase/certify02.png"/>
                            <div class="mask"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mask-content">
                            <img src="/website/images/classicCase/certify03.png"/>
                            <div class="mask"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mask-content">
                            <img src="/website/images/classicCase/certify04.png"/>
                            <div class="mask"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="mask-content">
                            <img src="/website/images/classicCase/certify05.png"/>
                            <div class="mask"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="swiper-pagination"></div>-->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>
</div>

<script src="/website/js/classicCase/classicCase.controller.js"></script>
